body {
    margin: 0;
    background-color: rgb(148, 149, 150);
}
.container{
    width: 50%;
    height: flex;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(235, 216, 155);
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(51, 9, 9, 0.521);
    box-shadow: 5px 5px 15px black;
    padding: 10px;
    
}
.outerContainer {
    top: 0%;
    position: relative;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 5px;
    font: bold 24px Arial, sans-serif;
}

p {
    font: 16px Arial, sans-serif;
    margin: 10px 0;
}
button.btn-primary {
    font: bold 16px Arial, sans-serif;
    background-color: rgb(236, 164, 7);
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
}
button.btn-success {
    font: bold 16px Arial, sans-serif;
    background-color: rgb(4, 134, 47);
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
}
button.btn-looser {
    font: bold 16px Arial, sans-serif;
    background-color: rgb(134, 4, 4);
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
}

.innerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px black;
    z-index: 1000;
}
.hidden {
    display: none;
}